# Sanitized variable-name template. No real values are included.
ADMIN_API_KEY=<REDACTED>
AI_INTEGRATIONS_OPENAI_API_KEY=<REDACTED>
AI_INTEGRATIONS_OPENAI_BASE_URL=<REDACTED>
DATABASE_URL=<REDACTED>
LEADERSHIP_FEED_KEY=<REDACTED>
PLATFORM_WEBHOOK_URL=<REDACTED>
RESEND_API_KEY=<REDACTED>
RESEND_FROM_EMAIL=<REDACTED>
SESSION_SECRET=<REDACTED>
WEBHOOK_SECRET=<REDACTED>
ZOHO_ACCOUNTS_URL=<REDACTED>
ZOHO_API_DOMAIN=<REDACTED>
ZOHO_CLIENT_ID=<REDACTED>
ZOHO_CLIENT_SECRET=<REDACTED>
ZOHO_REFRESH_TOKEN=<REDACTED>
