# Sanitized variable-name template. No real values are included.
ADMIN_API_KEY=<REDACTED>
AI_INTEGRATIONS_LLMProvider_API_KEY=<REDACTED>
AI_INTEGRATIONS_LLMProvider_BASE_URL=<REDACTED>
DATABASE_URL=<REDACTED>
LEADERSHIP_FEED_KEY=<REDACTED>
PLATFORM_WEBHOOK_URL=<REDACTED>
EmailProvider_API_KEY=<REDACTED>
EmailProvider_FROM_EMAIL=<REDACTED>
SESSION_SECRET=<REDACTED>
WEBHOOK_SECRET=<REDACTED>
CRMProvider_ACCOUNTS_URL=<REDACTED>
CRMProvider_API_DOMAIN=<REDACTED>
CRMProvider_CLIENT_ID=<REDACTED>
CRMProvider_CLIENT_SECRET=<REDACTED>
CRMProvider_REFRESH_TOKEN=<REDACTED>
